Load Dataset

In [36]:
import pandas as pd
df = pd.read_csv("a3.csv")
df.head(10)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Fransisco Hazeldine,On Time
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Marla Parsonage,On Time
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,1/18/2022,GNB,Rhonda Amber,On Time
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Kacie Commucci,Delayed
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Ebonee Tree,On Time
5,nMJKVh,Lora,Durbann,Female,55,Brazil,Coronel Horácio de Mattos Airport,BR,Brazil,SAM,South America,06-10-2022,LEC,Inglis Dolley,On Time
6,8IPFPE,Rand,Bram,Male,73,Ivory Coast,Duxford Aerodrome,GB,United Kingdom,EU,Europe,10/30/2022,QFO,Stanislas Tiffin,Cancelled
7,pqixbY,Perceval,Dallosso,Male,36,Vietnam,Maestro Wilson Fonseca Airport,BR,Brazil,SAM,South America,04-07-2022,STM,Sharyl Eastmead,Cancelled
8,QNAs2R,Aleda,Pigram,Female,35,Palestinian Territory,Venice Marco Polo Airport,IT,Italy,EU,Europe,8/20/2022,VCE,Daryn Bardsley,On Time
9,3jmudz,Burlie,Schustl,Male,13,Thailand,Vermilion Airport,CA,Canada,NAM,North America,04-06-2022,YVG,Alameda Carlyle,On Time

Check NAN value

In [37]:
df.isnull().sum()

Passenger ID            0
First Name              0
Last Name               0
Gender                  0
Age                     0
Nationality             0
Airport Name            0
Airport Country Code    0
Country Name            0
Airport Continent       0
Continents              0
Departure Date          0
Arrival Airport         0
Pilot Name              0
Flight Status           0
dtype: int64

Drop Date column

In [38]:
df.drop("Departure Date", axis=1, inplace=True)
df.head(10)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,CXF,Fransisco Hazeldine,On Time
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,YCO,Marla Parsonage,On Time
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Isère Airport,FR,France,EU,Europe,GNB,Rhonda Amber,On Time
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,YND,Kacie Commucci,Delayed
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,SEE,Ebonee Tree,On Time
5,nMJKVh,Lora,Durbann,Female,55,Brazil,Coronel Horácio de Mattos Airport,BR,Brazil,SAM,South America,LEC,Inglis Dolley,On Time
6,8IPFPE,Rand,Bram,Male,73,Ivory Coast,Duxford Aerodrome,GB,United Kingdom,EU,Europe,QFO,Stanislas Tiffin,Cancelled
7,pqixbY,Perceval,Dallosso,Male,36,Vietnam,Maestro Wilson Fonseca Airport,BR,Brazil,SAM,South America,STM,Sharyl Eastmead,Cancelled
8,QNAs2R,Aleda,Pigram,Female,35,Palestinian Territory,Venice Marco Polo Airport,IT,Italy,EU,Europe,VCE,Daryn Bardsley,On Time
9,3jmudz,Burlie,Schustl,Male,13,Thailand,Vermilion Airport,CA,Canada,NAM,North America,YVG,Alameda Carlyle,On Time

No null value so now convert string to numaric

In [39]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Passenger ID'] = le.fit_transform(df['Passenger ID'])
df['First Name'] = le.fit_transform(df['First Name'])
df['Last Name'] = le.fit_transform(df['Last Name'])
df['Gender'] = le.fit_transform(df['Gender'])
df['Nationality'] = le.fit_transform(df['Nationality'])
df['Airport Name'] = le.fit_transform(df['Airport Name'])
df['Airport Country Code'] = le.fit_transform(df['Airport Country Code'])
df['Country Name'] = le.fit_transform(df['Country Name'])
df['Airport Continent'] = le.fit_transform(df['Airport Continent'])
df['Continents'] = le.fit_transform(df['Continents'])
df['Arrival Airport'] = le.fit_transform(df['Arrival Airport'])
df['Pilot Name'] = le.fit_transform(df['Pilot Name'])  
df['Flight Status'] = le.fit_transform(df['Flight Status'])
df.head(10)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Arrival Airport,Pilot Name,Flight Status
0,16240,2487,22626,0,62,105,1717,219,221,3,3,1657,36026,2
1,72770,2629,6478,1,62,152,4228,34,37,3,3,8499,64381,2
2,20206,2023,12947,1,67,177,3034,70,72,2,2,2679,79474,2
3,18246,2298,31198,0,71,43,6031,34,37,3,3,8673,51900,1
4,15536,828,29617,1,21,43,2870,219,221,3,3,6724,29148,2
5,78495,5141,11402,0,55,29,1817,28,28,5,5,4188,45912,2
6,13242,6652,4529,1,73,103,2225,72,220,2,2,6233,87595,0
7,82466,6466,9346,1,36,234,4799,28,28,5,5,7096,85006,0
8,42020,188,30249,0,35,163,8465,103,103,2,2,7967,24465,2
9,6014,1238,33803,1,13,215,8471,34,37,3,3,8821,1722,2

Data Spliting for train(80%) and test(20%)

In [40]:
from sklearn.model_selection import train_test_split
X = df.drop('Flight Status', axis=1)
y = df['Flight Status']
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size = 0.2, random_state = 10000)
df.head(10)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Arrival Airport,Pilot Name,Flight Status
0,16240,2487,22626,0,62,105,1717,219,221,3,3,1657,36026,2
1,72770,2629,6478,1,62,152,4228,34,37,3,3,8499,64381,2
2,20206,2023,12947,1,67,177,3034,70,72,2,2,2679,79474,2
3,18246,2298,31198,0,71,43,6031,34,37,3,3,8673,51900,1
4,15536,828,29617,1,21,43,2870,219,221,3,3,6724,29148,2
5,78495,5141,11402,0,55,29,1817,28,28,5,5,4188,45912,2
6,13242,6652,4529,1,73,103,2225,72,220,2,2,6233,87595,0
7,82466,6466,9346,1,36,234,4799,28,28,5,5,7096,85006,0
8,42020,188,30249,0,35,163,8465,103,103,2,2,7967,24465,2
9,6014,1238,33803,1,13,215,8471,34,37,3,3,8821,1722,2

Scalling Data

In [41]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
df.head(10)

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Arrival Airport,Pilot Name,Flight Status
0,16240,2487,22626,0,62,105,1717,219,221,3,3,1657,36026,2
1,72770,2629,6478,1,62,152,4228,34,37,3,3,8499,64381,2
2,20206,2023,12947,1,67,177,3034,70,72,2,2,2679,79474,2
3,18246,2298,31198,0,71,43,6031,34,37,3,3,8673,51900,1
4,15536,828,29617,1,21,43,2870,219,221,3,3,6724,29148,2
5,78495,5141,11402,0,55,29,1817,28,28,5,5,4188,45912,2
6,13242,6652,4529,1,73,103,2225,72,220,2,2,6233,87595,0
7,82466,6466,9346,1,36,234,4799,28,28,5,5,7096,85006,0
8,42020,188,30249,0,35,163,8465,103,103,2,2,7967,24465,2
9,6014,1238,33803,1,13,215,8471,34,37,3,3,8821,1722,2